<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recycling App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Recycling Waste Management</h1>
        <nav>
            <ul>
                <li><a href="{% url 'user_dashboard.html' %}">Dashboard</a></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'company_dashboard.html' %}">Company Dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'update_profile.html' %}">Profile</a></li>
                <li><a href="{% url 'logout.html' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Recycling Waste Management</p>
    </footer>
</body>
</html>
